@import "globals";
@import "variables";
@import "breakpoint";

.sect__carousel {
	.container { 
		margin-bottom: 80px;
		.title__carousel {
			margin: 45px 0 32px ;
			h1 {
				line-height: 50px;
				color: #333;
				font-size: 38px;
				margin-bottom: 0;
				span {
					color: $darkArmy;
				}
			}
		}
		.swiper {
			.card__carousel {
				border: 0;
				padding: 30px;
				margin-bottom: 140px;
				&:hover {
					background-image: url("../img/bg-card.png");
					transition: .3s ease-in-out;
					// height: 210px;
					// transform: scale3d(2);
				}
				.card__header-carousel {
					img {
						width: 47px;
						height: 52px;
						margin-bottom: 20px;
					}
				}
				.card__body-carousel {
					h5 {
						font-size: 16px;
						color: #333;
						margin-bottom: 4px;
					}
					p {
						font-size: 14px;
						color: #333;
					}
				}
			}
			.swiper-button-prev {
				right: 25px !important;
				top: 80% !important;
				width: auto !important;
				transform: translate(36%, 50%);
				&::after {
					content:  url("../img/arrow-prev.png");
					width: 33px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
				}
			} 
			.swiper-button-next {
				right: 25px !important;
				top: 80% !important;
				width: auto !important;
				transform: translate(-100%, 50%);
				&::after {
					content:  url("../img/arrow-next.png");
					width: 33px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
				}
			}
		}
	}
}

@include responsive(mobile)  {
	.sect__carousel {
		.container { 
			padding: 0 !important;
			.title__carousel {
				margin: 43px 0 19px ;
				padding: 0 30px;
				h1 {
					line-height: 30px;
					font-size: 24px;
				}
			}
			.swiper {
				margin-bottom: 40px;
					.card__carousel {
						.card__header-carousel {
						img {
							height: 47px;
						}
					}
				}
				.swiper-button-prev ,
				.swiper-button-next {
					display: none;
				}
			}
		}
	}
}