@import "./globals";
@import "./variables";
@import "breakpoint";

.sect__hero {
	background: url("../img/bg-herro.png") no-repeat center center;
	height: 100vh;
	background-size: cover;
	.container {
		.row {
			padding-top: 30px;
			.block__content-hero {
				width: 482px;
				.title__hero {
					margin-bottom: 25px;
					h1 {
						font-size: 64px;
						line-height: 64px;
						color: $darkArmy;
						height: 128px;
					}
				}
				.description__hero {
					margin-bottom: 32px;
					p {
						font-size: 18px;
						font-weight: 400;
					}
				}
				.items__button-hero {
					button:nth-child(1) {
						box-shadow: 0px 8px 32px 0px #666BE259;
						&:hover {
							background-color: #F2F2F2;
							transition: .4s ease-in-out;
						}
					}
					button:nth-child(2) {
						background-color: #F2F2F2;
						color: #333;
						&:hover {
							color: #fff;
							background-color: $darkArmy;
							transition: .4s ease-in-out;
						}
					}
				}
			}
		}
	}
}

@include responsive(mobile) {
	.sect__hero {
		height: auto;
		padding-bottom: 50px;
		.container {
			.row {
				.block__content-hero {
					width: auto;
					.title__hero {
						margin-bottom: 25px;
						h1 {
							font-size: 46px;
							line-height: 60px;
						}
					}
					.description__hero {
						p {
							font-size: 14px;
						}
					}
					.items__button-hero {
						button:nth-child(1) {
							font-size: 14px;
						}
						button:nth-child(2) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

