@import "globals";
@import "variables";
@import "breakpoint";

.navbar-sticky {
	width: 100%;
	height: 80px !important;
	position: sticky !important;
	top: 0;
	left: 0;
	z-index: 999;
	box-shadow: 3px 3px 6px -3px #afafaf;
	background: rgba(255, 255, 255) !important;
	transition: all .3s ease-in-out;
}

.navbar {
	height: 95px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	.container { 
		.navbar-brand {
			img {
				width: 207px;
				height: 50px;
			}
		}
		.navbar-nav {
			display: flex;
			gap: 30px;
			.nav__item {
				.nav__links {
					font-size: 14px;
					font-weight: 500;
					position: relative;
					&:hover {
						color: $darkArmy;
						transition: .3s ease-in;
					}
					img {
						position: absolute;
						bottom: 17px;
						right: -15px;
					}
				}
			}
		}
		.items__button-navbar {
			button:nth-child(2) {
				&:hover {
					background-color: $darkArmy !important;
					color: #fff;
				}
			}
		}
	}
}

@include responsive(mobile) {
	// Navbar
	.navbar {
		height: 89px;
		position: static ;
		background-color: #fff;
		border: 1px solid #F8F8F8;
		.container { 
			.navbar-brand {
				margin-right: 0 !important;
				img {
					height: 36px !important;
					width: 150px !important;
				}
			}
			.items__button-navbar {
				button:nth-child(2) {
					&:hover {
						font-size: 14px;
					}
				}
			}
		}
	}

	.sect__navbar-footer {
		border: 1px solid #F8F8F8;
		height: 89px;
		.container {
			.items__hamburger {
				button {
					padding-top: 20px;
					padding-bottom: 12px;
					img {
						width: 39px;
						height: 39px;
					}
					p {
						margin-bottom: 0;
						font-size: 14px;
					}
				}
			}
		}
	}
}

