$darkArmy:#8BAC3E;
$lightArmy:#F0FEEB;
$ExtraLightArmy:#F9FFF6;

$darkTosca:#40A2B1;
$lightTosca:#E6F3F5;

$darkBlue:#405EB6;
$lightBlue:#EAEEFA;

$darkPurple:#B23F74;
$lightPurple:#F9EEF3;

$darkGreen:#A4B441;
$lightGreen:#F3F7D9;






