@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

p {
  color: #757575;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #757575;
}

.container {
  max-width: 100% !important;
  padding: 0 30px !important;
}
@media screen and (min-width: 1350px) {
  .container {
    padding: 0 30px !important;
    max-width: 1350px !important;
  }
}

::-moz-selection {
  background-color: #8BAC3E;
  color: #fff;
}

::selection {
  background-color: #8BAC3E;
  color: #fff;
}

.animate__bounce {
  -webkit-animation: bounce 4s ease infinite;
          animation: bounce 4s ease infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.animate__shake {
  -webkit-animation: shake 10s ease-in-out infinite;
          animation: shake 10s ease-in-out infinite;
}

@-webkit-keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(8px);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(8px);
  }
}
* {
  font-family: "Rubik", sans-serif;
}

p {
  color: #757575;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #757575;
}

.container {
  max-width: 100% !important;
  padding: 0 30px !important;
}
@media screen and (min-width: 1350px) {
  .container {
    padding: 0 30px !important;
    max-width: 1350px !important;
  }
}

::-moz-selection {
  background-color: #8BAC3E;
  color: #fff;
}

::selection {
  background-color: #8BAC3E;
  color: #fff;
}

.animate__bounce {
  -webkit-animation: bounce 4s ease infinite;
          animation: bounce 4s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.animate__shake {
  -webkit-animation: shake 10s ease-in-out infinite;
          animation: shake 10s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(8px);
  }
}
.navbar-sticky {
  width: 100%;
  height: 80px !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 6px -3px #afafaf;
  background: rgb(255, 255, 255) !important;
  transition: all 0.3s ease-in-out;
}

.navbar {
  height: 95px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
}
.navbar .container .navbar-brand img {
  width: 207px;
  height: 50px;
}
.navbar .container .navbar-nav {
  display: flex;
  gap: 30px;
}
.navbar .container .navbar-nav .nav__item .nav__links {
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
.navbar .container .navbar-nav .nav__item .nav__links:hover {
  color: #8BAC3E;
  transition: 0.3s ease-in;
}
.navbar .container .navbar-nav .nav__item .nav__links img {
  position: absolute;
  bottom: 17px;
  right: -15px;
}
.navbar .container .items__button-navbar button:nth-child(2):hover {
  background-color: #8BAC3E !important;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .navbar {
    height: 89px;
    position: static;
    background-color: #fff;
    border: 1px solid #F8F8F8;
  }
  .navbar .container {
    padding: 0 25px !important;
  }
  .navbar .container .navbar-brand {
    margin-right: 0 !important;
  }
  .navbar .container .navbar-brand img {
    height: 35px !important;
    width: 135px !important;
  }
  .navbar .container .items__button-navbar button:nth-child(2) {
    margin-left: 0 !important;
    font-size: 13px;
    padding: 10px 15px;
  }
  .navbar .container .items__button-navbar button:nth-child(2):hover {
    font-size: 14px;
  }
  .sect__navbar-footer {
    border: 1px solid #F8F8F8;
    height: 89px;
  }
  .sect__navbar-footer .container .items__hamburger button {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sect__navbar-footer .container .items__hamburger button img {
    width: 39px;
    height: 39px;
  }
  .sect__navbar-footer .container .items__hamburger button p {
    margin-bottom: 0;
    font-size: 14px;
  }
}
* {
  font-family: "Rubik", sans-serif;
}

p {
  color: #757575;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #757575;
}

.container {
  max-width: 100% !important;
  padding: 0 30px !important;
}
@media screen and (min-width: 1350px) {
  .container {
    padding: 0 30px !important;
    max-width: 1350px !important;
  }
}

::-moz-selection {
  background-color: #8BAC3E;
  color: #fff;
}

::selection {
  background-color: #8BAC3E;
  color: #fff;
}

.animate__bounce {
  -webkit-animation: bounce 4s ease infinite;
          animation: bounce 4s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.animate__shake {
  -webkit-animation: shake 10s ease-in-out infinite;
          animation: shake 10s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(8px);
  }
}
.sect__hero {
  background: url("../img/bg-herro.png") no-repeat center center;
  height: 100vh;
  background-size: cover;
}
.sect__hero .container .row {
  padding-top: 30px;
}
.sect__hero .container .row .block__content-hero {
  width: 482px;
}
.sect__hero .container .row .block__content-hero .title__hero {
  margin-bottom: 25px;
}
.sect__hero .container .row .block__content-hero .title__hero h1 {
  font-size: 64px;
  line-height: 64px;
  color: #8BAC3E;
  height: 128px;
}
.sect__hero .container .row .block__content-hero .description__hero {
  margin-bottom: 32px;
}
.sect__hero .container .row .block__content-hero .description__hero p {
  font-size: 18px;
  font-weight: 400;
}
.sect__hero .container .row .block__content-hero .items__button-hero button:nth-child(1) {
  box-shadow: 0px 8px 32px 0px rgba(102, 107, 226, 0.3490196078);
}
.sect__hero .container .row .block__content-hero .items__button-hero button:nth-child(1):hover {
  background-color: #F2F2F2;
  transition: 0.4s ease-in-out;
}
.sect__hero .container .row .block__content-hero .items__button-hero button:nth-child(2) {
  background-color: #F2F2F2;
  color: #333;
}
.sect__hero .container .row .block__content-hero .items__button-hero button:nth-child(2):hover {
  color: #fff;
  background-color: #8BAC3E;
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 767px) {
  .sect__hero {
    height: auto;
    padding-bottom: 50px;
  }
  .sect__hero .container {
    padding: 0 25px !important;
  }
  .sect__hero .container .row .block__content-hero {
    width: auto;
  }
  .sect__hero .container .row .block__content-hero .title__hero {
    margin-bottom: 25px;
  }
  .sect__hero .container .row .block__content-hero .title__hero h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .sect__hero .container .row .block__content-hero .description__hero p {
    font-size: 14px;
  }
  .sect__hero .container .row .block__content-hero .items__button-hero button:nth-child(1) {
    font-size: 14px;
  }
  .sect__hero .container .row .block__content-hero .items__button-hero button:nth-child(2) {
    font-size: 14px;
  }
}
* {
  font-family: "Rubik", sans-serif;
}

p {
  color: #757575;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #757575;
}

.container {
  max-width: 100% !important;
  padding: 0 30px !important;
}
@media screen and (min-width: 1350px) {
  .container {
    padding: 0 30px !important;
    max-width: 1350px !important;
  }
}

::-moz-selection {
  background-color: #8BAC3E;
  color: #fff;
}

::selection {
  background-color: #8BAC3E;
  color: #fff;
}

.animate__bounce {
  -webkit-animation: bounce 4s ease infinite;
          animation: bounce 4s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.animate__shake {
  -webkit-animation: shake 10s ease-in-out infinite;
          animation: shake 10s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(8px);
  }
}
.sect__carousel .container {
  margin-bottom: 80px;
}
.sect__carousel .container .title__carousel {
  margin: 45px 0 32px;
}
.sect__carousel .container .title__carousel h1 {
  line-height: 50px;
  color: #333;
  font-size: 38px;
  margin-bottom: 0;
}
.sect__carousel .container .title__carousel h1 span {
  color: #8BAC3E;
}
.sect__carousel .container .swiper .card__carousel {
  border: 0;
  padding: 30px;
  margin-bottom: 100px;
}
.sect__carousel .container .swiper .card__carousel .card__header-carousel img {
  width: 47px;
  height: 52px;
  margin-bottom: 20px;
}
.sect__carousel .container .swiper .card__carousel .card__body-carousel h5 {
  font-size: 16px;
  color: #333;
  margin-bottom: 4px;
}
.sect__carousel .container .swiper .card__carousel .card__body-carousel p {
  font-size: 14px;
  color: #333;
}
.sect__carousel .container .swiper .swiper-button-prev {
  right: 25px !important;
  top: 80% !important;
  width: auto !important;
  transform: translate(36%, 50%);
}
.sect__carousel .container .swiper .swiper-button-prev::after {
  content: url("../img/arrow-prev.png");
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.sect__carousel .container .swiper .swiper-button-next {
  right: 25px !important;
  top: 80% !important;
  width: auto !important;
  transform: translate(-100%, 50%);
}
.sect__carousel .container .swiper .swiper-button-next::after {
  content: url("../img/arrow-next.png");
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .sect__carousel .container {
    padding: 0 !important;
  }
  .sect__carousel .container .title__carousel {
    margin: 43px 0 19px;
    padding: 0 30px;
  }
  .sect__carousel .container .title__carousel h1 {
    line-height: 30px;
    font-size: 24px;
  }
  .sect__carousel .container .swiper {
    margin-bottom: 40px;
  }
  .sect__carousel .container .swiper .card__carousel .card__header-carousel img {
    height: 47px;
  }
  .sect__carousel .container .swiper .swiper-button-prev,
.sect__carousel .container .swiper .swiper-button-next {
    display: none;
  }
}
* {
  font-family: "Rubik", sans-serif;
}

p {
  color: #757575;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #757575;
}

.container {
  max-width: 100% !important;
  padding: 0 30px !important;
}
@media screen and (min-width: 1350px) {
  .container {
    padding: 0 30px !important;
    max-width: 1350px !important;
  }
}

::-moz-selection {
  background-color: #8BAC3E;
  color: #fff;
}

::selection {
  background-color: #8BAC3E;
  color: #fff;
}

.animate__bounce {
  -webkit-animation: bounce 4s ease infinite;
          animation: bounce 4s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.animate__shake {
  -webkit-animation: shake 10s ease-in-out infinite;
          animation: shake 10s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(8px);
  }
}
.sect__products .container {
  margin-bottom: 250px;
}
.sect__products .container .title__product {
  margin-bottom: 55px;
}
.sect__products .container .title__product h1 {
  font-size: 38px;
  line-height: 50px;
  color: #333;
}
.sect__products .container .title__product h1 span {
  color: #8BAC3E;
}
.sect__products .container .row .block__card {
  padding: 0 10px;
}
.sect__products .container .row .block__card .card__product {
  padding: 25px;
  box-shadow: 0px 11px 39px 0px rgba(0, 0, 0, 0.0705882353);
  margin-bottom: 30px;
}
.sect__products .container .row .block__card .card__product .card__header {
  margin-bottom: 19px;
}
.sect__products .container .row .block__card .card__product .card__header img {
  border-radius: 6px;
  height: 120px;
  width: 118px;
}
.sect__products .container .row .block__card .card__product .card__body h3 {
  font-size: 26px;
}
.sect__products .container .row .block__card .card__product .card__body p {
  font-size: 18px;
  margin-bottom: 5px;
  color: #8BAC3E;
  font-weight: 500;
}
.sect__products .container .row .block__card .card__product .card__body .card__body-icon {
  gap: 2px;
}
.sect__products .container .row .btn {
  margin-top: 50px;
  width: 160px;
  height: 50px;
}
.sect__products .container .row .btn:hover {
  background-color: #8BAC3E;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .sect__products .container {
    margin-bottom: 100px;
  }
  .sect__products .container .title__product {
    margin-bottom: 48px;
  }
  .sect__products .container .title__product h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .sect__products .container .row .block__card {
    padding: 0 10px;
  }
  .sect__products .container .row .btn {
    display: none;
  }
}
* {
  font-family: "Rubik", sans-serif;
}

p {
  color: #757575;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #757575;
}

.container {
  max-width: 100% !important;
  padding: 0 30px !important;
}
@media screen and (min-width: 1350px) {
  .container {
    padding: 0 30px !important;
    max-width: 1350px !important;
  }
}

::-moz-selection {
  background-color: #8BAC3E;
  color: #fff;
}

::selection {
  background-color: #8BAC3E;
  color: #fff;
}

.animate__bounce {
  -webkit-animation: bounce 4s ease infinite;
          animation: bounce 4s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.animate__shake {
  -webkit-animation: shake 10s ease-in-out infinite;
          animation: shake 10s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(8px);
  }
}
.btn {
  border: 0 !important;
  background-color: #8BAC3E;
  border-radius: 100px;
  padding: 10px 18px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

* {
  font-family: "Rubik", sans-serif;
}

p {
  color: #757575;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #757575;
}

.container {
  max-width: 100% !important;
  padding: 0 30px !important;
}
@media screen and (min-width: 1350px) {
  .container {
    padding: 0 30px !important;
    max-width: 1350px !important;
  }
}

::-moz-selection {
  background-color: #8BAC3E;
  color: #fff;
}

::selection {
  background-color: #8BAC3E;
  color: #fff;
}

.animate__bounce {
  -webkit-animation: bounce 4s ease infinite;
          animation: bounce 4s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.animate__shake {
  -webkit-animation: shake 10s ease-in-out infinite;
          animation: shake 10s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(8px);
  }
}
.block__btnToTOp {
  position: relative;
}
.block__btnToTOp .item__btnToTop {
  position: fixed;
  bottom: 30px;
  right: 5%;
  z-index: 999;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #8BAC3E;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.block__btnToTOp .item__btnToTop span {
  color: #fff;
  font-size: 25px;
  line-height: 0;
}

@media screen and (max-width: 767px) {
  .block__btnToTOp {
    position: relative;
  }
  .block__btnToTOp .item__btnToTop {
    position: fixed;
    bottom: -30px;
    right: 5%;
    z-index: 999;
    height: 38px;
    width: 38px;
  }
  .block__btnToTOp .item__btnToTop span {
    font-size: 25px;
  }
}
* {
  font-family: "Rubik", sans-serif;
}

p {
  color: #757575;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #757575;
}

.container {
  max-width: 100% !important;
  padding: 0 30px !important;
}
@media screen and (min-width: 1350px) {
  .container {
    padding: 0 30px !important;
    max-width: 1350px !important;
  }
}

::-moz-selection {
  background-color: #8BAC3E;
  color: #fff;
}

::selection {
  background-color: #8BAC3E;
  color: #fff;
}

.animate__bounce {
  -webkit-animation: bounce 4s ease infinite;
          animation: bounce 4s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.animate__shake {
  -webkit-animation: shake 10s ease-in-out infinite;
          animation: shake 10s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(8px);
  }
}
.footer .container .row {
  padding: 74px 67px 40px 62px;
  border-radius: 20px;
  background-color: #F9FFF6;
}
.footer .container .row .block__footer-address .footer__logo {
  margin-bottom: 21px;
}
.footer .container .row .block__footer-address .footer__logo img {
  width: 207px;
  height: 50px;
}
.footer .container .row .block__footer-address .block__footer-text p {
  font-size: 14px;
  margin-bottom: 30px;
}
.footer .container .row .block__footer-address .block__footer-text .block__footer-icons {
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.footer .container .row .block__footer-address .block__footer-text .block__footer-icons .icon a {
  line-height: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8BAC3E;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 24px;
}
.footer .container .row .block__footer-address .block__footer-text .block__footer-icons .icon a:hover {
  background-color: #8BAC3E;
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.footer .container .row .block__links .block__link-title {
  margin-bottom: 30px;
}
.footer .container .row .block__links .block__link-title h3 {
  font-size: 18px;
  color: #333;
}
.footer .container .row .block__links .block__items-links li {
  margin-bottom: 10px;
}
.footer .container .row .block__links .block__items-links li a {
  font-size: 14px;
}
.footer .container .row .block__links .block__items-links li a:hover {
  color: #8BAC3E;
  transition: 0.5s ease-in-out;
}
.footer .container .row .block__links .block__text-newsletter {
  margin-bottom: 20px;
}
.footer .container .row .block__links .block__text-newsletter p {
  font-size: 14px;
}
.footer .container .row .block__links .block__form-input {
  margin-bottom: 17px;
  height: 40px;
  width: 250px;
}
.footer .container .row .block__links .block__form-input input {
  border-radius: 8px;
  border: 1px solid #000;
  background: transparent;
  border-right: 0;
}
.footer .container .row .block__links .block__form-input input::-moz-placeholder {
  color: #000;
  font-size: 14px;
}
.footer .container .row .block__links .block__form-input input:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
}
.footer .container .row .block__links .block__form-input input::placeholder {
  color: #000;
  font-size: 14px;
}
.footer .container .row .block__links .block__form-input input:focus {
  box-shadow: none !important;
}
.footer .container .row .block__links .block__form-input button {
  background-color: #8BAC3E;
  color: #fff;
  font-size: 14px;
}
.footer .container .row .block__links .block__links-contact p {
  font-size: 14px;
  color: #000;
  display: flex;
  gap: 3px;
  align-items: center;
}
.footer .container .row .block__links .block__links-contact p span {
  color: #8BAC3E;
  font-size: 20px;
}
.footer .container .block__copyright p {
  margin-bottom: 0;
  padding: 48px 0 32px 0;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .footer {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */